fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
redis
nanoid
python-multipart
pytest
httpx
ruff
slowapi
email-validator
pillow
